@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600;700&display=swap');

@layer mantine, mantine-datatable;

* {
    box-sizing: border-box;
}

html,
body {
    background-color: #fff6e7;
    color: #6a5a4a;
    font-family: 'Inter', 'SF Pro Rounded', sans-serif;
    line-height: 1.6;
    min-height: 90vh;
    margin: 0;
}

a {
    color: var(--mantine-color-dark);
    font-weight: 600;
    text-decoration: none;
}
